$grid-columns: 12;
$grid-max-width: 105em;

$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

@mixin border-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

%clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;

  @include border-box;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

.grid {
  width: 100%;
  margin: 0 auto;
}

.grid:after,
.row:after {
  @extend %clearfix;
}

[class*='col-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

@media #{$breakpoint-medium} {
  .grid {
    width: 95%;
    max-width: ($grid-max-width - $grid-max-width / 8);
  }

  .narrow.grid { max-width: ($grid-max-width - $grid-max-width / 3) }
  .wide.grid { max-width: $grid-max-width }

  @for $i from 1 through $grid-columns {
    .col-#{$i} { width: 100% / $grid-columns * $i; }
  }

}

